*.*~
.*
AUTHORS
COPYING
ChangeLog
Debug/
INSTALL
NEWS
README
acinclude.m4
aclocal.m4
autom4te.cache/
config*
depcomp
eds-backend/
examples/
getdirFile.plx
intl*
lib*
ltmain.sh
omf.make
po/
python/
stamp-h1
tests/
xmldocs.make
src/*.lo
!libplanner
!.gitignore
libplanner/*.lo
